:root {
  --bleuFrance975: #f5f5fe;
  --text-default-grey: #3a3a3a;
  --blue-france-sun-113-625: #000091;
  --blue-france-sun-113-625-hover: #1212ff;
  --blue-france-sun-113-625-active: #2323ff;
  --background-action-high-blue-france: var(--blue-france-sun-113-625);
  --background-action-high-blue-france-hover: var(--blue-france-sun-113-625-hover);
  --background-action-high-blue-france-active: var(--blue-france-sun-113-625-active);
  --background-action-high-blue-france: var(--blue-france-sun-113-625);
  --background-action-high-blue-france-hover: var(--blue-france-sun-113-625-hover);
  --background-action-high-blue-france-active: var(--blue-france-sun-113-625-active);
  --grey-1000-50: #fff;
  --blue-france-975-sun-113: #f5f5fe;
  --red-marianne-975-75: #fef4f4;
  --text-inverted-grey: var(--grey-1000-50);
  --text-inverted-blue-france: var(--blue-france-975-sun-113);
  --text-inverted-red-marianne: var(--red-marianne-975-75);
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Marianne";
  src: url("../public/fonts/Marianne-Regular.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url("../public/fonts/Marianne-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Marianne";
  src: url("../public/fonts/Marianne-RegularItalic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: url("../public/fonts/Marianne-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

:target {
  scroll-margin-top: 80px;
}

.bg-bleu-france {
  background-color: var(--bleuFrance975)!important;
}

.zero-accident {
  font-family: "Marianne";
  color: var(--text-default-grey);
  
  .container {
    padding: 0 2rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  } 

  .main {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .rep-francaise-img {
    align-self: flex-start;
    top: 1em;
  }

  .slogan {
    font-weight: bolder;
    font-size: x-large;
    margin-block: 30px;
    text-align: center;
    line-height: 1.5em;
  }

  .header-flag img {
    margin-inline: 8px;
  }

  .start-btn {
    margin-bottom: 5%;
  }

  .start-btn:hover {
    text-decoration: none;
    background-color: #1212ff;
  }

  .fr-btn {
    --text-spacing: 0;
    --title-spacing: 0;
    --underline-img: none;
    --hover-tint: #1212ff;
    --idle: #0000;
    --hover: #1212ff;
    --active: #2323ff;
    align-items: center;
    background-color: #000091;
    color: #f5f5fe;
    display: inline-flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
    border: none;
  }
  .fr-btn--lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
    min-height: 3rem;
    padding: 0.5rem 1.5rem;
  }
  .fr-btn--secondary {
    --hover: inherit;
    --active: inherit;
    background-color: initial;
    box-shadow: inset 0 0 0 1px #000091;
    color: #000091;
  }
}

@media (min-width: 576px) {
  .zero-accident .container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .zero-accident .container {
    max-width: 540px !important;
  }
}
@media (min-width: 992px) {
  .zero-accident .container {
    max-width: 720px !important;
  }
}
@media (min-width: 1200px) {
  .zero-accident .container {
    max-width: 960px !important;
  }
}


